h1{
    text-align: center;
    color: red;
    font-family: sans-serif;
    
}
body {
    background: url("paisajes.jpg");
    background-repeat: repeat no-repeat;
    text-align: center;
    background-size: cover;
margin: 0;
padding: 0;
text-align: center;
}
.container {
    margin: 100px;
}
input {
    width: 400px;
    height: 30px;
    margin-top: 30px;
    border-radius: 0cqh;
}
.especial{
    width: 150px;
    color: blue;
border-radius: 0vi;
}
.btn-iniciar{
}
form {
    background-color: black;
    width: 500px;
    height: 400px;
    margin: auto;
    padding: 10px;
    margin-bottom: 100px;
}
.recordar a {
    color: red;
    text-decoration: none;
}

.recordar {
    padding-top: 20px;
}

.registrarme {
    padding-top: 20px;
}
.registrarme a {
    color: red;
    text-decoration: none;
}